.pie {
    width: 100%;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pie h2 {
    color: var(--blanco);
    font-size: 20px;
  }
  
  h2 img {
    width: 168.45px;
  }